@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Depok<br />
    Jawa Barat<br />
    <abbr title="Phone">P:</abbr>
    08588-1993-9951
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">farrelwirap@gmail.com</a><br />
</address>
